
.background{
  /* background-color: rgba(240, 216, 228, 0.71); */
  background-image: url("./images/travel-stamps.jpg");
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body{

  font-family: 'Raleway', sans-serif;

}
